name: Docker Build and Push
permissions:
  contents: read
  packages: write
on:
  push:
    branches:
      - main
  workflow_dispatch:  # permite rodar manualmente na aba Actions

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build || echo "no tests"

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          IMAGE="ghcr.io/${{ github.repository }}/productapi:latest"
          docker build -t "$IMAGE" -f Dockerfile .

      - name: Push image
        run: |
          IMAGE="ghcr.io/${{ github.repository }}/productapi:latest"
          docker push "$IMAGE"
